.jumbotron { 
  background: url(../images/image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron h1 {
    color: #3ed7e8;
}

.navbar-brand {
    font-size: 1.6rem;
}

.sitename {
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.sitename span {
    color: #21ef24!important;
    font-weight: 700;
}

thead {
    color: white;
}

.btn {
    width:100%;
}

footer p{
    color:white!important;
}