.jumbotron { 
  /*background: url(../images/image.png) no-repeat center center fixed; */
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: transparent !important;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-style: Arial;
}

.navbar-brand {
    font-size: 1.6rem;
}

.rotate-45-left {
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right {
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

body {
    /*background-color: #bed4f7!important;*/
    background: url(../images/image2.jpg) no-repeat center center fixed;
}

#content {
    padding-top: 0;
    background-color: transparent !important;
    height: 100%;
}

.sitename {
    color: #ff003f;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.sitename span {
    color:  #2C75FF!important;
    font-weight: 700;
}

thead {
    color: white;
}

.card {
    position: relative;
}

.card .favorite-btn {
    position: absolute;
    right: -18px;
    top: 18px;
    background-color: white;
    width: 35px!important;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
    padding-left: 10px;
    color: #29ABE0;
}

.is-favorite {
    background-color:#29ABE0!important;
    color: white!important;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

.btn {
    width:100%;
}

footer, bg-primary p-4{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    color:#ff003f!important;
}
