.jumbotron { 
  background: url(../images/image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #bed4f7!important;
  background-size: cover;
  width: auto;
}

.jumbotron h1 {
    color: #092551;
    font-weight: bold;
    font-style: Arial;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1.6rem;
}

body {
    background-color: #bed4f7!important;
}

#content {
    padding-top: 0;
    background-color: #bed4f7!important;
    height: 100%;
}

.sitename {
    color:blue;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.sitename span {
    color: #21ef24!important;
    font-weight: 700;
}

thead {
    color: white;
}

.card {
    position: relative;
}

.card .favorite-btn {
    position: absolute;
    right: -18px;
    top: 18px;
    background-color: white;
    width: 35px!important;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
    padding-left: 10px;
    color: #29ABE0;
}

.is-favorite {
    background-color:#29ABE0!important;
    color: white!important;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

.btn {
    width:100%;
}

footer p{
    color:#21ef24!important;
}
